@model IEnumerable<CarShopping.Web.Models.CarModel>

@{
    ViewData["Title"] = "CarIndex";
}

<h1>CarIndex</h1>

<p>
    <a asp-action="CreateCar" class="btn btn-success">
        <i class="fas fa-edit">Adicionar Veículo</i>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Quilometragem
            </th>
            <th>
                Data de Fabricação
            </th>
            <th>
                Valor de Venda
            </th>
            <th>
                Já foi Vendido?
            </th>
            <th>
                Disponibilidade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @{
                    var date = item.FabricationDate.ToString("yyyy");
                 }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                    @{
                        var sellingValue = item.SellingValue.ToString("c");
                    }
                    @Html.DisplayFor(modelItem => sellingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvaliable)
            </td>
            <td>
                    <a asp-action="UpdateCar" class="btn btn-warning" asp-route-id="@item.Id">
                        <i class="fas fa-edit">Atualizar Veículo</i>
                    </a>
            </td>
            <td>
                    <a asp-action="FindCarById" class="btn btn-info" asp-route-id="@item.Id">
                        <i class="fas fa-edit">Inspencionar Veículo</i>
                    </a>
            </td>
            <td>
                    <a asp-action="DeleteCar" class="btn btn-danger" asp-route-id="@item.Id">
                        <i class="fas fa-edit">Remover Veículo</i>
                    </a>
                
            </td>
        </tr>
}
    </tbody>
</table>
