@model CarShopping.Web.Models.CarModel

@{
    ViewData["Title"] = "ESTOQUE";
}

<h1>ESTOQUE</h1>

<div>
    <h4>Visualizar Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvaliable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvaliable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CarIndex" class="btn btn-success" asp-route-id="@Model.Id">
        <i class="fas fa-edit">Voltar a Lista</i>
    </a>
    <a asp-action="UpdateCar" class="btn btn-warning" asp-route-id="@Model.Id">
        <i class="fas fa-edit">Editar Veículo</i>
    </a>
</div>
