@model CarShopping.Web.Models.CarDealerModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding-top: 20px;
        }

        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }

        .card-subtitle {
            font-size: 18px;
            color: #666;
            margin-top: 10px;
        }

        .card-body {
            padding: 20px;
        }

        .info-icon {
            font-size: 24px;
            color: #007bff;
            margin-right: 10px;
        }

        .back-to-list {
            margin-top: 20px;
            text-align: center; /* Centraliza o botão */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"><i class="fas fa-store info-icon"></i> @Model.Name</h1>
                <h4 class="card-subtitle">Informações da Loja</h4>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p><i class="fas fa-car info-icon"></i> <strong>Quantidade de Carros:</strong> @Model.CarQuantity</p>
                        <p><i class="fas fa-users info-icon"></i> <strong>Funcionários:</strong> @Model.Employees</p>
                    </div>
                    <div class="col-md-6">
                        <p><i class="fas fa-dollar-sign info-icon"></i> <strong>Faturamento Mensal:</strong> @Model.MonthRevenue.ToString("C")</p> <!-- Formatando para contábil -->
                        <p><i class="fas fa-car-side info-icon"></i> <strong>Carros Disponíveis:</strong> @Model.AmountAvaliableCars</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="back-to-list">
            <a asp-controller="Car" asp-action="CarIndex" class="btn btn-secondary"><i class="fas fa-list"></i> Lista de Carros</a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
