@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #343a40;
        }

        .navbar-brand {
            color: #ffffff;
        }

        .navbar-nav .nav-link {
            color: #ffffff;
        }

        .container {
            text-align: center;
            padding-top: 50px;
        }

        .jumbotron {
            background-color: #6c757d;
            color: #ffffff;
            border-radius: 10px;
            padding: 30px;
        }

        .btn-custom {
            background-color: #212529;
            border-color: #212529;
            color: #ffffff;
            padding: 12px 24px;
            font-size: 18px;
            border-radius: 25px;
            margin-top: 20px;
            transition: all 0.3s ease-in-out;
        }

            .btn-custom:hover {
                background-color: #343a40;
                border-color: #343a40;
            }

            .btn-custom:focus {
                outline: none;
                box-shadow: none;
            }

            .btn-custom:not(:last-child) {
                margin-right: 20px;
            }

        .btn-icon {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Minha Concessionária</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("CarDealerIndex", "CarDealer")">Revendedora</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("CarIndex", "Car")">Todos os Carros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Central de Concessionárias de Joinville</h1>
            <p class="lead">Encontre o carro dos seus sonhos!</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-custom btn-lg" href="@Url.Action("CarDealerIndex", "CarDealer")" role="button">
                    <i class="fas fa-store btn-icon"></i> Conheça nossas Revendedoras
                </a>
                <a class="btn btn-custom btn-lg" href="@Url.Action("CarIndex", "Car")" role="button">
                    <i class="fas fa-car btn-icon"></i> Veja Todos os Carros
                </a>
            </p>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
